# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Challenge 5.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ERICA THE PERFECT\OneDrive - MBO Utrecht\Dev-Game Unity\Create with Code\Challenge5\Challenge 5\.idea\.idea.Challenge 5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
